<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PFE</title>
    <link rel="stylesheet" href="/static/css/detection.css">


</head>
<body>

            <div class="center">


            <div>
                <img src="{{ url_for('video_feed') }}" class="responsive">
            </div>

                    <ul class="list">
                    <li>Place the smartphone on the mobile stand</li>

                    <li>Make sure the camera is facing the driver </li>

                    <li>Make sure notifications are not muted</li>

                    <li>Have a good trip</li>
                    </ul>


                    <ul class="ps">
                    <li>To find a hotel or see tips, return to the home page</li>
                    </ul>
                </div>

</body>
</html>